            <div class="relative group grid place-items-center gap-2">
                <!--PANNEAU D'IMAGE-->
                <div class="absolute inset-0 -z-10 bg-black/30">
                    
                </div>
                
                <!--TEXTES-->
                <div class="space-y-12">
                    <div class="space-y-2">
                        <div class="flex justify-center items-center gap-3">
                            <span>A</span>
                            <span>F</span>
                            <span>E</span>
                            <span>C</span>
                        </div>
                        <h2 class="text-center text-md text-gray-700 font-medium">Association des frères des écoles chrétiennes</h2>
                    </div>
                    <p class="text-center text-xl text-gray-600">Nous sommes toujours quand il faut ou il faut mgl</p>
                    <button class="text-center">En savoir plus</button>
                </div>
            </div>